homeassistant:
  # Tyzen9 custom packages
  packages: !include_dir_named packages

# Loads default set of HA integrations (Do not remove)
default_config:

logger:
  default: warning
  logs:
      custom_components.moonraker: error
      #  homeassistant.components.rest: debug
      #  homeassistant.components.glances: debug
      #  homeassistant.components.command_line: debug

# Automations managed in the UI are stored here
automation: !include automations.yaml

# Scenes managed in the UI are stored here
scene: !include scenes.yaml

# Tyzen9 Custom YAML configurations (in addition to packages)
zone: !include zone.yaml

# Tyzen9 Front end dashboards are created using YAML
frontend: !include frontend.yaml
lovelace: !include lovelace.yaml

# Setup long-term data storage
influxdb: !include victoriametrics.yaml

# Setup monitor_docker to get container run-time stats
monitor_docker: !include monitor_docker.yaml

# This is needed for the NPM Proxy
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.3.5 # NPM Reverse Proxy IP
    - 127.0.0.1
